html,body {
height: 100%;
width: 100%;
}

body{
     background: maroon;
     border: 40px solid transparent;
       border-color: rgb(255, 255, 255);
}
.site-banner{
    top: 0;
    left: 0;
    right:0;
    height: 200px;
    background: black;
    background-position: center;
    background-size: cover;
    z-index: 10001;
}